body {
    display: flex;
    justify-content: center;
    background-color: white;
}

@keyframes appear {
0%{
    transform: translateY(-100px);
}

}


.wrapper{
  position: absolute;
  top: 20px;
  left: 20px;
  border: 1px solid darkcyan;
  background-color: black;
  width: fit-content;
  animation: appear 1s ease-in-out;
  border-radius: 10px;


  #display-sentence {
  border-radius: 10px;

      
  max-width: 40vw;
      line-break: auto;
      hyphens: auto;
    font-size: 2em;
    background: linear-gradient(90deg, rgb(226, 1, 226), rgb(231, 212, 13), rgb(62, 176, 224));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border: 1px solid black;
    width: fit-content;
  padding: 10px;

}
}